$text-color: #000;
$text-color-light: #666;
$form-text-color: #666;
$heading-color: #54b848;
$link-color: #000;
$link-color-hover: #666;
$bg-color: #eef8ed;
$bg-color-light: #f8fcf7;
$form-focus-border-color: #000;
$card-color: #fff;
$table-hover-color: #cccccc;

$primary-btn-color: #fff;
$primary-btn-bg: #212529;
$primary-btn-hover-color: #fff;
$primary-btn-hover-bg: #424649;
$primary-btn-hover-border: #424649;

$secondary-btn-color: #fff;
$secondary-btn-bg: #666;
$secondary-btn-hover-color: #fff;
$secondary-btn-hover-bg: #a1a1a1;
$secondary-btn-hover-border: #a1a1a1;

$form-border-color: #cccccc;
$form-border-style: solid;
$form-border-width: 1px;
$form-border-radius: 5px;

$card-border-color: #cccccc;
$card-border-style: solid;
$card-border-width: 1px;
$card-border-radius: 5px;
$profile-pic-radius: 5px;
$profile-font-bold: 500;
$profile-left-card-width: 20%;
$profile-heading-size: 1em;

$card-gap: 0.3rem;
