// Light Theme Variables
$body-bg-light: $white;
$body-color-light: $black;
$text-color-light: #666;
$body-bg-theme-light: #eef8ed;
$card-bg-light: $white;
$border-color-light: #cccccc;
$border-color-focus-light: $body-color-light;
$header-text-color-light: darken($body-bg-theme-light, 45%);
$link-color-light: $body-color-light;
$link-hover-color-light: lighten($link-color-light, 40%);
$menu-color-light: lighten($body-color-light, 10%);
$menu-hover-color-light: lighten($body-color-light, 50%);
$primary-btn-bg-light: $black;
$primary-btn-color-light: $white;

// Dark Theme Variables
$body-bg-dark: $gray-800;
$body-color-dark: $white;
$text-color-dark: $white;
$body-bg-theme-dark: $gray-900;
$card-bg-dark: $gray-800;
$border-color-dark: $gray-700;
$border-color-focus-dark: $body-color-dark;
$header-text-color-dark: #fff; // lighten for dark mode
$link-color-dark: $body-color-dark;
$link-hover-color-dark: darken($link-color-dark, 40%);
$menu-color-dark: darken($body-color-dark, 40%);
$menu-hover-color-dark: $body-color-dark;
$primary-btn-bg-dark: $black;
$primary-btn-color-dark: $white;

// $text-color: #000;
$text-color-grey: #666;
// $form-text-color: #666;
// $heading-color: #54b848;
// $link-color: #000;
// $link-color-hover: #666;
$spl-link-color: #54b848;
$spl-link-hover: #666;
// $bg-color: #eef8ed;
// $bg-color-light: #f8fcf7;
$form-border-color: #888888;
$form-focus-border-color: #000;
// $card-color: #fff;
$table-hover-color: #e3e3e3;

$primary-btn-color: #fff;
$primary-btn-bg: #000;
$primary-btn-hover-color: #fff;
$primary-btn-hover-bg: #424649;
$primary-btn-hover-border: #424649;

$secondary-btn-color: #fff;
$secondary-btn-bg: #666;
$secondary-btn-hover-color: #fff;
$secondary-btn-hover-bg: #a1a1a1;
$secondary-btn-hover-border: #a1a1a1;

$form-border-color: #cccccc;
$form-border-style: solid;
$form-border-width: 1px;
$form-border-radius: 5px;

$card-border-color: #cccccc;
$card-border-style: solid;
$card-border-width: 1px;
$card-border-radius: 5px;
$profile-pic-radius: 5px;
$profile-font-bold: 500;
$profile-left-card-width: 20%;
$profile-heading-size: 0.9rem;

$std-font-size: 12px;

$res-template-width: 1000px;
$res-template-height: 1350px;

$card-gap: 0.3rem;

// Toast Valiables
$toast-bg-default: #1976d2;
$toast-text-default: #fff;
$toast-bg-info: #2196f3;
$toast-text-info: #fff;
$toast-bg-success: #4caf50;
$toast-text-success: #fff;
$toast-bg-warning: #ffc107;
$toast-text-warning: #fff;
$toast-bg-error: #ff5252;
$toast-text-error: #fff;
